<header class="header">

    <!-- Application brand -->
    <a routerLink="/home" class="header-brand">
        <img
            src="images/logo.png"
            alt="Library Web logo"
            class="header-logo">
    </a>

    <!-- Authentication actions -->
    <div class="header-actions">

        <button
            type="button"
            aria-label="Cambiar idioma">
            <span class="material-symbols-outlined">
                language
            </span>
        </button>

        <a
            [routerLink]="authService.isLoggedIn() ? '/account' : '/login'"
            [attr.aria-label]="
                authService.isLoggedIn()
                    ? 'Mi cuenta'
                    : 'Iniciar sesión'
            ">

            <span class="material-symbols-outlined">
                account_circle
            </span>

        </a>

    </div>

</header>