<footer class="footer">

    <!-- Main footer container -->
    <div class="footer-grid">

        <!-- Social links -->
        <div class="footer-left">

            <a
                href="https://github.com/JZurroAdurizDev"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="GitHub profile">

                <i class="fa-brands fa-github"></i>

            </a>

            <a
                href="https://www.linkedin.com/in/jabier-zurro-aduriz-051345a3"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="LinkedIn profile">

                <i class="fa-brands fa-linkedin"></i>

            </a>

        </div>

        <!-- Copyright information -->
        <div class="footer-center">
            &#x00A9; {{ year }} Jabier Zurro Aduriz - Library Web. Todos los derechos reservados.
        </div>

        <!-- Secondary navigation links -->
        <nav class="footer-right">
            <a routerLink="/privacy-policy">Política de privacidad</a>
            <a routerLink="/terms-and-conditions">Términos y condiciones</a>
            <a routerLink="/cookies-policy">Cookies</a>
        </nav>

    </div>

</footer>